div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 20vh;
  align-items: center;
  padding-right: 5em;
  padding-left: 5em;
  margin-bottom: 2em;
}
h1 {
  color: white;
}
nav a {
  padding: 2rem;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  background-color: #EEE;
  color: black;
  border-radius: 1em;
  width: 10em;
  margin: 1em;
}

nav a:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

@media (max-width: 1000px) {
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  nav a {
    padding: 1rem;
    font-size: 1em;
    width: 8em;
    margin: 0.5em;
  }
  div{
    padding-right: 2em;
    padding-left: 2em;
  }
}