h2 {
  text-align: center;
  font-size: 4em;
  margin: 1em;
}
.heroes {
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.heroes li {
  display: flex;
  width: 150%;
}

.heroes a {
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 1em;
  padding: 1em 0;
  border-radius: .5em;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: white;
  background-color: black;
}

.heroes button {
  display: flex;
  background-color: black;
  color: white;
  padding: 0 1em;
  align-items: center;
}

.heroes .badge {
  color: white;
  padding: 1em;
  background-color: black;
  border-radius: .5em 0 0 .5em;
  margin-right: 1em;
}

.content div{
  height: 30vh;
  width: 80vh;
  overflow-y: scroll;
}

.content {
  background-color: #EEE;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 10%;
}