.heroes {
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.heroes li {
  position: relative;
}

.heroes li:hover {
}

.heroes a {
  text-decoration: none;
  color: black;
  background-color: #EEE;
  margin: 1em;
  padding: 1em 0em;
  border-radius: .5em;
  display: block;
}

.heroes a:hover {
  color: white;
  background-color: black;
}

.heroes .badge {
  color: white;
  padding: 1em;
  background-color: black;
  border-radius: .5em 0 0 .5em;
  margin-right: 1em;
}

.content {
  height: 30vh;
  width: 50vh;
  overflow-y: scroll;
}